# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Golang binaries
